<div class="headBar">
    <div class="logo"><a href="wwww.ok.ru"><img src="assets/images/vector/ok.svg" width="30px" alt="odnoklasniki"></a></div>
    <h1 class="headName">Мидгард</h1> 
    <div class="headMenu"> 
        <a class="links" href="www.yandex.ru">Яндекс</a>
        <a class="links" href="index.html">Индекс</a>
        <a class="links" href="about.html">Эбаут</a>
        <a class="links" href="forms.html">Форм</a>
        <a class="links" href="catalog.html">Каталог</a>
        <a class="links" href="flex.html">Флекс</a>
        <a class="links" href="topgeek.html">Топ</a>
        <a class="links" href="grid.html">Грид</a>

    </div>
</div>
